<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link " href="/"> <i
                class="oi oi-home"></i> <span>Home</span>
        </a></li>
    </ul>

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Pizzas</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/pizzas/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/pizzas/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
        </a></li>
    </ul>

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active" >Tipo da Pizza</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/tipos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/tipos/listar"> <i
                class="oi oi-spreadsheet"></i> <span>Listar </span>
        </a></li>
    </ul>
</nav>
</body>
</html>