<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Quem somos</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Tecnologias
							Utilizadas</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							Olá, somos da equipe de desenvolvimento do seu sistema de
							cadastro de pizzas da pizzaria de Tópicos Especiais I e
							estamos oferencendo nossos serviços para entregar um sistema simples,
							porém bem útil, que facilitará a sua vida.<br><br>
							Aqui está nossa equipe:<br><br>
							<ul>
								<li>João Pedro Faria</li>
								<li>Jordy Allan Rodrigues</li>
								<li>Luiz Filipe Ribeiro</li>
								<li>Lorenzo Lucas Cantarella</li>
								<li>Roberto Conceição</li>
								<li>Matheus Aguiar</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							Estas são algumas tecnologias utilizadas no desenvolvimento deste
							protótipo:<br><br>
							<ul>
								<li>IntelliJ IDE</li>
								<li>GIT & GitHub</li>
								<li>Java/Spring/JPA</li>
								<li>HTML/CSS/JS</li>
								<li>ThymeLeaf</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>